{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }}
| Contribute
{% endblock %}
{% block content %}

<!--<form>
  <div class="form-group w-25">
    <label for="name">Name</label>
    <input type="text" class="form-control" placeholder="Enter name">
    <small class="form-text text-muted">Please enter the name of the dish</small>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" rows="3"></textarea>
  </div>

    <div class="form-group">
    <label for="instruction">Instruction</label>
    <textarea class="form-control" id="instruction" rows="3"></textarea>
  </div>

    <div class="Ingredients">
    <label>Ingredients</label>
    <textarea class="form-control" id="ingredients" rows="3" placeholder="Enter ingredients"></textarea>
  </div>

  <div class="mt-4 mb-5">
    <label for="exampleFormControlFile1">Last opp bilde</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>-->


<div class="container">
    <div class="add-buttons">

              <a class="gray button desc" href="/add_recipe"><h1>Add Recipe</h1></a>
              <a class="gray button desc" href="/add_ingredient"><h1>Add Ingredient</h1></a>
    </div>
</div>

{% endblock content %}




