{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = "row ml-5">
    <div class="col-sm">

        <h1>{{ object.name }}
            {% if user not in recipe.favourite.all %}
            <a href="{% url 'recipe:change_favourite' pk=recipe.pk operation='add'%}">
            <i class="far fa-heart fa-lg" style="font-size:48px;"></i>


            </a>
                {% else %}
                <a href="{% url 'recipe:change_favourite' pk=recipe.pk operation='remove'%}">
            <i class="fa fa-heart" style="font-size:48px;color:#0000FF"></i>


            </a>
            {% endif %}</h1>
        <label class="mt-3" for="description">Description:</label>


        <textarea readonly class="form-control" id="description" rows="3">{{ object.description }}</textarea>

        <label class="mt-3" for="instruction">Instructions:</label>
        <textarea readonly class="form-control" id="instruction" rows="5">{{ object.instruction }}</textarea>

        <label class="mt-5" for="ingredients">Ingredients:</label>
        <div class="row pl-3 pr-5 mr-4 col-6">
        {% for ingredient in object.ingredients.all %}
            <div class="col mx-0 px-0">
                <div class="alert alert-dark text-center" role="alert">{{ ingredient.name }}</div>
            </div>
        {% endfor %}
        </div>

    </div>
        <div class="col-sm">
            <img class="card-img img-fluid w-75 mt-5 pt-4" src="{{ object.image.url }}" alt="No image">
        </div>

</div>
<div class = "row ml-5">
    {% if recipe.user == request.user or user.is_superuser%}
        <div class="add-buttons">
            <a role="button" class="btn btn-danger btn-sm" href="{% url 'recipe:recipe-delete' recipe.id %}"><h3>Delete recipe</h3></a>
            <a role="button" class="btn btn-secondary btn-sm" href="{% url 'recipe:recipe-update' recipe.id %}"><h3>Update recipe</h3></a>

        </div>
    {% endif %}
</div>
            </a>
        </div>
{% endblock content %}

