{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class ="container w-50">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="text-center mb-4">We need <b>you</b>  to save the planet!</legend>
                {{ form|crispy }}
            </fieldset>
        <div class="form-group">
            <div class="text-center"><button class="btn btn-outline-info btn-lg" type="submit">Sign Up</button></div>
        </div>
        </form>
            <div class="text-center pt-3">
                <small class="text-muted">Already Have An Account?<a class="ml-1" href="{% url 'users:login' %}">Sign In</a></small>
            </div>
        </div>
{% endblock content %}