{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row ml-5">

    <div class="col-sm">
        <h1 style="margin-top: 150px; font-weight: 600; font-family:hco gotham ssm,helvetica neue,Helvetica,Arial,sans-serif;"> Eat Your Food!</h1>
        <h5 style="margin-top: 10px; font-family:hco gotham ssm,helvetica neue,Helvetica,Arial,sans-serif;">We have the worlds largest repository of good stuff. Check it out!</h5>

        <form class="form-inline ml-auto mt-4" id="searchform" method="GET" action="{% url 'browse:searchresults' %}">
          <div class="md-form my-0" style="width:375px";>
            <input name="q" id="searchbar" value="{{request.GET.q}}" class="form-control" type="text" placeholder="Search" aria-label="Search" style="width:375px">
          </div>

            <button href="#!" id="addbutton" class="btn btn-outline-secondary ml-1" type="button">Add</button>
          <button href="#!" class="btn btn-success btn-md my-0 ml-2" type="submit">Search</button>
        </form>

        <div class="row pl-3 pr-5 mr-4" id="addfield"></div>

    </div>

        <div class="col-sm pr-0">
            <div class="d-none d-lg-block">
                <img class="hidden-xs-down img" src="{% static "browse/images/frontpage.png" %}" style="width:75%" align="right">
            </div>
        </div>
      </div>

    <!-- shows recipes on frontpage in random sequence -->
    <div class="row mr-5 ml-5">
        {% for recipe in recipes %}
        <div class="col-md-3">
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="{{ recipe.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'recipe:recipe-detail' recipe.id %}">{{ recipe.name }}</a>
                    {% for group in recipe.user.groups.all %}
                        {% if group.name == "chef" %}
                        <img src="{% static "browse/images/chef_hat.png" %}" alt="" height="20" width="20">
                        {% endif %}
                    {% endfor %}
                    </h4>
                    <h6 class="card-text">{{ recipe.description }}</h6>
                    <p class="card-text"><small class="text-muted">{{ recipe.user }}</small></p>
                </div>
            </div>
        </div>

            <!-- if last column in row -->
        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div><div class="row mr-5 ml-5">
        {% endif %}

        {% endfor %}

    </div>



{% endblock content %}

