{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }}
| Ingredients results
{% endblock %}
{% block content %}
<div class="container">
    <div class="row mb-3">
    <!-- This displays how many recipes there exists from the search query
    has to be fixed since it messes with the card-img-->

            {% if ingredient == '' %}
                <h2>Found {{ recipes|length }} recipe(s) with anything as an ingredient: </h2>
            {% else %}
                <h2>Found {{ recipes|length }} recipe(s) with {{ ingredient }} as an ingredient: </h2>
            {% endif %}

    </div>
    <div class="row">


        {% for recipe in recipes %}
        <div class="col-md-3">
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="{{MEDIA_ROOT}}{{ recipe.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a href="{% url 'recipe:recipe-detail' recipe.id %}">{{ recipe.name }}</a></h4>
                    <h6 class="card-text">{{ recipe.description }}</h6>
                                {% if recipe.user == request.user %}
                <p class="card-text"><small class="text-muted"><a href="{% url 'users:profile' %}">{{ recipe.user }}</a></small></p>
                {% else %}
                    <p class="card-text"><small class="text-muted"><a href="{% url 'users:user-detail' recipe.user %}">{{ recipe.user }}</a></small></p>
                {% endif %}

                                {% if user not in recipe.favourite.all %}
            <a href="{% url 'recipe:change_favourite' pk=recipe.pk operation='add'%}">
            <i class="far fa-heart fa-lg" style="font-size:24px;"></i>


            </a>
                {% else %}
                <a href="{% url 'recipe:change_favourite' pk=recipe.pk operation='remove'%}">
            <i class="fa fa-heart" style="font-size:24px;color:#0000FF"></i>


            </a>
            {% endif %}
                </div>
            </div>
        </div>

            <!-- if last column in row -->
        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
            </div><div class="row">
        {% endif %}

        {% endfor %}

    </div>
</div>

{% endblock content %}

